@import '../../styles/constants.scss';

.container {
    bottom: calc(2em);
    left: calc(10% + 1em);
    position: absolute;
    padding: 4px 2em;
    line-height: 18px;
    border: solid $dark_grey 4px;
    border-radius: 20px;
    background: #ffffff;
    z-index: 5;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: $screen_l) {
    .container {
        bottom: 1em;
        left: 1em;
    }
}
