@import '../../styles/constants.scss';

.container {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 144px;
    height: max-content;
    padding: 2px 0;
    width: 100%;
    border: solid transparent 4px;
    box-sizing: border-box;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.selected {
    border: solid 4px $light_blue;
    transition-property: border;
    transition-duration: 300ms;
}

.selected.gridCell:hover {
    background-color: initial;
}

.labelContainer {
    width: 100%;
}

.label {
    z-index: 1;
    font: $medium-text;
    line-height: 21px;
    padding: 4px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

.contextMenu {
    background-color: white;
    border-radius: 4px;
    border: 0.4px solid #ddd;
    z-index: 2;
    width: 130px;
    padding: 0 !important;
}

.contextItem div {
    color: #000000;
}

.contextItem:hover div {
    background-color: #f2f2f2 !important;
}

.disabled div {
    color: #8c8c8c;
    cursor: default;
}

.itemLabel {
    z-index: 3;
    color: #000;
}

.active {
    display: initial;
}

@media (min-width: $screen_l) {
    .gridCell:hover {
        background-color: $light_grey;

        .label {
            display: flex;
            flex-direction: column;
            background: #ffffff;
            border-radius: 10px;
            padding: 0 4px;
            text-overflow: initial;
            width: min-content;
            box-sizing: border-box;
            border: solid $light_grey 4px;
            min-width: 100px;
            z-index: 3;
        }
    }
}

@media (max-width: $screen_l) {
    .gridCell {
        height: 128px;
        width: 108px;
        justify-self: center;
    }

    .labelContainer {
        margin-top: 8px;
    }

    .label {
        position: initial;
        width: initial;
        transform: initial;
        padding: initial;
    }

    .container {
        width: 100px;
    }

    .innerContainer {
        display: flex;
        justify-content: center;
        position: initial;
    }

    .icon {
        width: 60px;
        height: 80px;
        position: initial;
        left: initial;
        transform: initial;
    }
}

@media (max-width: $screen_xs) {
    .gridCell {
        width: 100px;
    }
}
