@import '../../styles/constants.scss';

.container {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fileType {
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    color: #666;
}

.gridCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 142px;
    width: 100%;
    border: solid transparent 4px;
    box-sizing: border-box;
    border-radius: 20px;
}

.selected {
    border: solid 4px $light_blue;
    transition-property: border;
    transition-duration: 300ms;
}

.selected.gridCell:hover {
    background-color: initial;
}

.labelContainer {
    width: 100%;
}

.label {
    z-index: 1;
    font-size: 16px;
    line-height: 21px;
    padding: 4px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl;
}

.contextMenu {
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    z-index: 2;
    width: 130px;
    padding: 0 !important;
}

.contextItem div {
    color: #000000;
}

.contextItem:hover div {
    background-color: #f2f2f2 !important;
}

.disabled div {
    color: #8c8c8c;
    cursor: default;
}

.itemLabel {
    z-index: 3;
    color: #000;
}

.iconContainer {
    position: relative;
}

.thumbnail {
    max-width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-40%);
}

.linkedFile {
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
}

.active {
    display: initial;
}

.icon {
    height: 100px;
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: $screen_m) {
    .label:hover {
        background: #ffffff;
        border-radius: 10px;
        padding: 0 4px;
        text-overflow: initial;
        width: min-content;
        box-sizing: border-box;
        border: solid $light_grey 4px;
    }

    .gridCell:hover {
        background-color: $light_grey;
    }
}

@media (max-width: $screen_m) {
    .gridCell {
        height: 128px;
        width: 108px;
        justify-self: center;
    }

    .labelContainer {
        margin-top: 8px;
    }

    .label {
        position: initial;
        width: initial;
        transform: initial;
        padding: initial;
    }

    .container {
        width: 100px;
    }

    .innerContainer {
        display: flex;
        justify-content: center;
        position: initial;
    }

    .icon {
        width: 60px;
        height: 80px;
        position: initial;
        left: initial;
        transform: initial;
    }
}

@media (max-width: $screen_xs) {
    .gridCell {
        width: 100px;
    }
}
