.container {
    z-index: 3;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    min-width: 30%;
    max-width: 30%;
    border-radius: 20px;
}

.opacity {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    justify-self: center;
    background-color: #ff697b;
    border-radius: 100%;
    margin-left: auto;
}

.close:hover {
    transform: scale(1.05);
}

.head {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e2e2e6;
    padding: 0px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.body {
    padding: 20px;
}

.title {
    font-size: 1.1em;
    font-weight: 300;
    width: 100%;
    position: absolute;
    text-align: center;
}
