.container {
    z-index: 5;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    min-width: 30%;
    max-width: 30%;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.opacity {
    z-index: 4;
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    background: #fff;
    backdrop-filter: blur(5px);
}

.close {
    cursor: pointer;
    margin-left: auto;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.close path {
    fill: #666666;
}

.head {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.body {
    padding: 20px;
}

.title {
    font-size: 1.1em;
    font-weight: 300;
    width: 100%;
    position: absolute;
    text-align: center;
}
