.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fileMarkup li {
    list-style: none;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

.toolbarArea {
    grid-area: toolbar;
    background-color: #e2e2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.toolbarHeader {
    letter-spacing: 0.05em;
    font-size: 18px;
    position: absolute;
    width: 100%;
    text-align: center;
    align-self: center;
}

.mainArea {
    grid-area: main;
    height: 100%;
    padding: 0 6.3%;
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-rows: 40px 23fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 'toolbar toolbar toolbar' 'main main main';
    background-color: #ffffff;
    border-radius: 20px;
}

.itemList {
    height: 100%;
    overflow-y: auto;
}

.contextMenu {
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    z-index: 2;
    width: 130px;
    padding: 0 !important;
}

.contextItem div {
    color: #000000;
}

.contextItem:hover div {
    background-color: #f2f2f2 !important;
}

.disabled div {
    color: #8c8c8c;
    cursor: default;
}
