@import '../../styles/constants.scss';

.wrapper {
    display: flex;
    justify-content: center;
    background: rgba($color: #000, $alpha: 0.2);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .container {
        padding: 10px 0;
        justify-self: center;
        align-self: center;
        width: 400px;
        overflow-y: auto;
        border: 5px solid $light_black;
        box-sizing: border-box;
        border-radius: 20px;
        background: #ffffff;
        display: flex;
        flex-direction: column;

        .option {
            display: grid;
            grid-template-columns: 28px 8px 1fr;
            grid-template-areas: 'icon . label';
            align-items: center;
            padding: 4px 1em;
            margin: 4px 0;

            svg {
                grid-area: icon;
            }

            .optionLabel {
                grid-area: label;
                padding: 4px 0;
                width: 100%;
                font-style: normal;
                font-size: 18px;
                line-height: 28px;
                vertical-align: middle;
                cursor: pointer;
            }
        }

        .disabled {
            color: #8c8c8c;
            cursor: default;
        }

        .red {
            color: #d10000;
        }
    }
}

@media (min-width: $screen_l) {
    .option:hover {
        background: $standard_blue;
    }
}

@media (max-width: $screen_l) {
    .wrapper {
        justify-content: flex-end;
        align-self: flex-end;
        max-height: initial;

        .container {
            border: none;
            height: initial;
            height: 80%;
            width: 100%;
            justify-self: flex-end;
            align-self: flex-end;
            border-radius: 20px 20px 0 0;
            position: absolute;
        }
    }
}
