.toolbarIcon {
    cursor: pointer;
    margin-left: 40px;
}

.toolbarIcon:first-child {
    margin-left: 0;
}

.toolbarIcon:hover path {
    fill: #c2c2c2;
}

.container {
    align-items: center;
    display: flex;
}
