@import '../../styles/constants.scss';

.editor {
    font: $medium-text;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    margin: initial;
}

@media (max-width: $screen_l) {
    .editor {
        width: 100%;
        margin: initial;
        overflow-wrap: break-word;
    }
}
