@import '../../../styles/constants.scss';

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows: 40px 23fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'toolbar' 'content';
    border-radius: 20px;
    background: #fff;
}

.toolbarArea {
    display: grid;
    grid-area: toolbar;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 40px;
    grid-template-columns: 16px 5fr 2fr 5fr 16px;
    grid-template-areas: '. left label right .';
    align-items: center;
}

.toolbarLeft {
    grid-area: left;
    display: flex;
    align-items: center;
}

.toolbarRight {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header {
    letter-spacing: 0.05em;
    font-size: 18px;
    width: 100%;
    grid-area: label;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content {
    grid-area: content;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: $screen_m) {
    .grid {
        grid-template-rows: 56px 1fr;
        border-radius: initial;
        overflow-y: auto;
    }

    .toolbarArea {
        background-color: initial;
        border-top-left-radius: initial;
        border-top-right-radius: initial;
        height: 100%;
    }

    .toolbarLeft {
        display: none;
    }

    .toolbarRight {
        grid-area: label;
    }

    .header {
        display: none;
    }
}
