@import '../../../styles/constants.scss';

.button {
    margin-left: 5px;
    cursor: pointer;
}

.buttonBar {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input {
    width: 100%;
    font-style: normal;
    box-sizing: border-box;
    font-size: 20px;
    text-overflow: ellipsis;
    border: initial;
    border-radius: initial;
    border-bottom: 4px solid black;
    outline: none;
}

@media (max-width: $screen_m) {
    .window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(50vh - 50px);
    }
}
