.container {
    max-width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border: solid #6db7db 1px;
    border-radius: 20px;
}

.listing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing > img {
    max-width: 24px;
    max-height: 20px;
    margin: 0 10px 0 5px;
}
