@import '../../styles/constants.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 4px 4px 0;
    padding: 4px 20px;
    border: solid $light_blue 4px;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 100%;
}

.container > img {
    height: 20px;
    margin-right: 8px;
}

.container > .fileIcon {
    width: 14px;
}

.container > .folderIcon {
    width: 20px;
}

.labelText {
    width: max-content;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
