@import '../../styles/constants.scss';

.prompt {
    margin-bottom: 8px;
}

.description {
    color: #666;
}

.selectedFiles {
    max-height: calc(50vh - 50px - 72px - 72px);
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
}

.button {
    cursor: pointer;
    margin-left: 8px;
}

.buttonBar {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    width: calc(100% - 2em);
    position: absolute;
    bottom: 0;
    padding: 1em 1em;
    right: 0;
    border-radius: 20px;
}

.input {
    width: 100%;
}

@media (max-width: $screen_l) {
    .body {
        overflow-y: auto;
    }

    .selectedFiles {
        max-height: calc(60vh - 50px - 72px - 92px);
    }

    .window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }
}
