@import '../../styles/constants.scss';

.prompt {
    margin-bottom: 8px;
}

.description {
    color: #666;
}

.selectedFiles {
    max-height: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-flow: row wrap;
}

.button {
    cursor: pointer;
    margin-left: 8px;
}

.buttonBar {
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: #ffffff;
}

.input {
    width: 100%;
}

@media (max-width: $screen_l) {
    .body {
        overflow-y: auto;
    }

    .buttonBar {
      position: absolute;
      bottom: 80px;
      left: 0;
      padding: 16px;
      width: calc(100% - 32px);
    }

    .window {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}
