.selectedFiles {
    max-height: 20rem;
    overflow-y: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    color: #0c89c6;
    height: 30px;
    background-color: white;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.9em;
    border-radius: 3px;
}

.button:hover {
    transform: scale(1.05);
}

.buttonBar {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input {
    width: 100%;
}

.confirm {
    background: linear-gradient(to top, #cd0000, rgba(205, 0, 0, 0.5));
    color: white;
    font-weight: 300;
    border-radius: 20px;
}
