.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.idpList h1 {
    margin-right: auto;
    /* padding-top: 20px;  */
}

.idpList p {
    margin-right: auto;
    margin-bottom: 0;
}

.idpList {
    border-radius: 20px;
    padding: 35px;
    display: grid;
    max-width: 40%;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    justify-items: center;
    overflow-y: auto;
    background: #fff;
    max-height: 90%;
}

/* 
.authButton {
    margin-left: auto;
    margin-right: 10px;
    background-color: #fff;
    border: solid #c4c4c4 1px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.authButton:hover {
    background-image: linear-gradient(to bottom left, #e4e4e4, #d4d4d4);
    color: #fff;
    outline-offset: 0;
}

.authButton:active {
    transform: scale(0.99);
} */
