.container {
    border-radius: 20px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.blue {
    color: #fff;
    background: #2791ff;
}

.red {
    color: #fff;
    background: #cd0000;
}

.white {
    font-weight: 400 !important;
    background: #fff;
}

.green {
    background: #36c510;
    color: #fff;
}

.sm {
    font-size: 12px;
    padding: 4px 10px;
}

.md {
    font-size: 16px;
    padding: 8px 24px;
}

.lg {
    font-size: 20px;
    padding: 8px 24px;
    line-height: 24px;
    box-sizing: border-box;
}

.disabled {
    opacity: 0.5;
    cursor: initial;
}

@media (min-width: $screen_m) {
    .white:hover {
        color: #666;
    }

    .red:hover {
        background: #bd0000;
    }

    .blue:hover {
        cursor: pointer;
        background-color: #2771ff;
    }

    .green:hover {
        cursor: pointer;
        background: #36a510;
    }
}
