@import '../../styles/constants.scss';
.container {
    border: 5px solid #2791ff;
    border-width: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    box-sizing: border-box;
    color: #fff;
}

.blue {
    background: #2791ff;
    border-color: #2791ff;
    color: #2791ff;
}

.red {
    background: #cd0000;
    border-color: #cd0000;
    color: #cd0000;
}

.green {
    background: $light_green;
    border-color: $light_green;
    color: $light_green;
}

.primary {
    color: #fff;
}

.secondary {
    background: initial;
    border-width: 5px;
}

.white {
    font-weight: 400 !important;
    background: #fff;
    color: #000;
}

.sm {
    font-size: 12px;
    padding: 4px 10px;
}

.md {
    font-size: 16px;
    padding: 8px 24px;
}

.lg {
    font-size: 18px;
    padding: 4px 24px;
    line-height: 28px;
}

.lg.secondary {
  padding: 0 24px;
}

.disabled {
    opacity: 0.5;
    cursor: initial;
}

@media (min-width: $screen_l) {
    .red:hover {
        border-color: #bd0000;
    }

    .blue:hover {
        cursor: pointer;
        border-color: #2771ff;
    }

    .green:hover {
        cursor: pointer;
        border-color: $light_green;
    }
}
