@import '../../styles/constants.scss';
.container {
    border: 4px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    box-sizing: border-box;
    color: #fff;
}

.primary {
    background: $light-blue;
    border-color: $dark-blue;
}

.danger {
    background: $light-red;
    border-color: $dark-red;
}

.confirm {
    background: $light_green;
    border-color: $dark_green;
}

.secondary {
    color: $dark-black;
    background: initial;
    border-color: $dark-grey;
}

.sm {
    font: $small-button-text;
    padding: 0 4px;
}

.md {
    font: $medium-button-text;
    padding: 2px 12px;
}

.lg {
    font: $large-button-text;
    padding: 4px 20px;
}

.disabled {
    opacity: 0.5;
    cursor: initial;
}