@import '../../styles/constants.scss';

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    min-height: 380px;
}

.empty {
    justify-content: center;
}

.emptyMessage {
    align-self: center;
    text-align: center;
    font-size: 2em;
    width: 50%;
}

.itemContainer {
    width: calc((100% - 40px) / 5);
}

.itemContainer + .itemContainer {
    margin-left: 10px;
    margin-bottom: 10px;
}

.itemContainer:nth-child(6) {
    margin-left: initial;
}

@media (max-width: $screen_l) {
    .itemContainer {
        width: 100%;
        margin: initial;
    }

    .itemContainer + .itemContainer {
        margin: initial;
        margin-top: 10px;
    }
}
