@import '../../styles/constants.scss';

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
}

.empty {
    justify-content: center;
}

.emptyMessage {
    align-self: center;
    text-align: center;
    font-size: 1em;
    width: 50%;
}

.itemContainer {
    width: calc((100% - 40px) / 5);
}

.itemContainer + .itemContainer {
    margin-left: calc((100% - (100% - 40px)) / 4);
    margin-bottom: calc((100% - (100% - 40px)) / 4);
}

.itemContainer:nth-child(5n + 1) {
    margin-left: initial;
}

@media (min-width: $screen_xl) {
    .itemContainer {
        width: calc((100% - 40px) / 6);
    }
    .itemContainer + .itemContainer {
        margin-left: calc((100% - (100% - 40px)) / 5);
        margin-bottom: calc((100% - (100% - 40px)) / 5);
    }
    .itemContainer:nth-child(5n + 1) {
        margin-left: calc((100% - (100% - 40px)) / 5);
    }
    .itemContainer:nth-child(6n + 1) {
        margin-left: initial;
    }
}

@media (max-width: $screen_l) {
    .itemContainer {
        width: 100%;
        margin: initial;
    }

    .itemContainer + .itemContainer {
        margin: initial;
        margin-top: 10px;
    }
}
