@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';

.dropdown a {
    padding: inherit 0;
    width: 100%;
}

.profileIcon {
    min-height: 56px;
    min-width: 56px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.profileSection {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
}

.username {
    letter-spacing: 0.2em;
    max-height: 63px;
    width: 100%;
    font-size: 16px;
    font-family: 'Helvetica Neue Light';
    margin: 0 10px;
    @include multiLineEllipsis(
        $lineHeight: 21px,
        $lineCount: 2,
        $bgColor: white
    );
}

.mask {
    border-radius: 20px;
    -webkit-z-index: -1;
    -moz-z-index: -1;
    -ms-z-index: -1;
    -o-z-index: -1;
    z-index: -1;
    position: absolute;
    width: 100%;
    background: #ffffff;
    height: 100%;
}

.mask.active {
    border-radius: 20px 20px 0px 20px;
}

@media (max-width: $screen_m) {
    .username {
        display: none;
    }

    .profileSection {
        height: initial;
        width: 100%;
    }

    .profileIcon {
        min-height: 50px;
        min-width: 50px;
    }
}
