// breakpoints, color values, font sizes, margins

//src https://www.mediaevent.de/css/breakpoints.html
//breakpoints min width
$screen-xs: 320px;
$screen-s: 567px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;

$light-black: #666666;
$dark-black: #333333;
$light-grey: #f4f4f4;
$dark-grey: #e2e2e6;
$standard-blue: #deebff;
$light-blue: #24b0ff;
$danger-red: #bd0000;
$dark-green: #36a510;
$light-green: #41c811;

// for js import (example see ProfilePage.js)
:export {
    screen_xs: 0;
    screen_s: 567;
    screen_m: 768;
    screen_l: 992;
    screen_xl: 1200;
}
