// breakpoints, color values, font sizes, margins

//src https://www.mediaevent.de/css/breakpoints.html
//breakpoints min width
$screen-xs: 320px;
$screen-s: 567px;
$screen-m: 768px;
$screen-l: 1040px;
$screen-xl: 1382px;

$extra-large-text: normal normal 400 24px/28px 'Helvetica Neue';
$large-text: normal normal 400 20px/24px 'Helvetica Neue';
$medium-text: normal normal 400 16px/20px 'Helvetica Neue';
$small-text: normal normal 400 12px/16px 'Helvetica Neue';

$extra-large-title-text: normal normal 500 24px/28px 'Helvetica Neue';
$large-title-text: normal normal 500 20px/24px 'Helvetica Neue';
$medium-title-text: normal normal 500 16px/20px 'Helvetica Neue';
$small-title-text: normal normal 500 12px/16px 'Helvetica Neue';

$extra-large-button-text: normal normal 600 24px/28px 'Helvetica Neue';
$large-button-text: normal normal 600 20px/24px 'Helvetica Neue';
$medium-button-text: normal normal 600 16px/20px 'Helvetica Neue';
$small-button-text: normal normal 600 12px/16px 'Helvetica Neue';

$light-black: #666666;
$dark-black: #333333;

$light-grey: #f4f4f4;
$dark-grey: #e2e2e6;

$pastell-blue: #5C94FF;
$light-blue: #2791FF;
$dark-blue: #1F74CC;

$light-red: #F41818;
$dark-red: #c21313;

$dark-green: #36a510;
$light-green: #41c811;

// for js import (example see ProfilePage.js)
:export {
    screen_xs: 0;
    screen_s: 567;
    screen_m: 768;
    screen_l: 1024;
    screen_xl: 1382;
}
