@import '../../styles/constants.scss';

.window {
    color: $light-red;
}

.container {
    border: solid $light-red 5px;
}

@media (max-width: $screen_l) {
    .window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(50vh - 50px);
    }

    .container {
        border: initial;
    }
}
