.navbar  {
    position: fixed;
}

.container {
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-areas: 'logo . dropdown';
}

.dropdown a {
    padding: inherit 0;
    width: 100%;
}

.profileSection {
    width: 66%;
    display: flex;
    align-items: center;
}

.dropdownWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.menuWrapper {
    grid-area: dropdown;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.username {
    letter-spacing: 0.2em;
    line-height: 21px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Helvetica Neue Light';
    margin-left: 10px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.loginButton {
    color: #0c89c6;
}

.brandWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
}

.brand {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

.profileIcon {
    min-height: 64px;
    min-width: 64px;
    border: 5px solid #e5e5e5;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.mask {
    border-radius: 20px;
    -webkit-z-index: -1;
    -moz-z-index: -1;
    -ms-z-index: -1;
    -o-z-index: -1;
    z-index: -1;
    position: absolute;
    width: 100%;
    background: #ffffff;
    height: 100%;
}

.mask.active {
    border-radius: 20px 20px 0px 20px;
}

@media (max-width: 380px) {
    .brand {
        font-size: 1em;
    }
}
