@import '../../styles/constants.scss';

.navbar  {
    position: fixed;
}

.optionIcon {
    width: 20px;
    height: 20px;
}

.fullPath {
  margin-left: .5em;
  color: $light-black
}

.fileIcon {
    width: 24px;
    height: 32px;
}

.folderIcon {
    width: 42px;
    height: 32px;
}

.iconContainer {
    min-width: 64px;
    display: flex;
    justify-content: center;
}

.optionContainer {
    display: flex;
    align-items: center;
}

.contactIcon {
    min-width: 38px;
    min-height: 38px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.defaultContactIcon {
    width: 38px !important;
    height: 38px !important;
    min-width: 38px !important;
    min-height: 38px !important;
    line-height: 30px !important;
    font-size: 1em !important;
}

.container {
    z-index: 1;
    background-color: white;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 16px 80px 9fr 3fr 16px;
    grid-template-areas: '. logo search dropdown .';
}

.searchDropdown {
    display: flex;
    height: 80%;
    width: 100%;
}

.searchDropdown {
    display: flex;
    height: 80%;
    width: 100%;
}

.search {
    grid-area: search;
    height: 100%;
    z-index: 3;
}

.menuWrapper {
    grid-area: dropdown;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loginButton {
    color: #0c89c6;
}

.brandWrapper {
    display: flex;
    align-items: center;
    grid-area: logo;
}

.brand {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

@media (max-width: $screen_l) {
    .active {
        grid-template-areas: '. search search search .';

        .brand {
            display: none;
        }

        .menuWrapper {
            display: none;
        }
    }
    .iconContainer {
        .folderIcon {
            height: 24px;
            width: auto;
        }

        .fileIcon {
            height: 28px;
            width: auto;
        }
    }

    .iconContainer {
        min-width: 48px;
    }

    .menuWrapper {
        justify-content: flex-end;
        padding-right: initial;
    }

    .brand {
        height: 50px;
        width: 50px;
        font-size: 1em;
        width: 50px;
        height: 50px;
    }
    .profileIcon {
        max-width: 50px;
        height: 50px;
    }

    .container {
        border-radius: initial;
        height: 70px;
        grid-template-columns: 16px 2fr 9fr 1fr 16px;
    }

    .menuWrapper {
        justify-content: flex-end;
    }

    .brandWrapper {
        justify-content: flex-start;
    }

    .brandWrapper {
        justify-content: flex-start;
    }

    .search {
        padding: initial;
    }
}
