@import '../../../styles/constants.scss';

.search__control--menu-is-open {
    border: solid $dark_grey 10px !important;
    border-bottom: initial !important;
    box-sizing: border-box !important;

    .search__value-container {
        margin-left: 64px !important;
    }
}

.search__control--is-focused .search__control--menu-is-open {
    .search__placeholder {
        display: none;
    }
}

.search__placeholder {
    font-size: 22px;
    padding: 0 2px !important;
    margin: initial !important;
}

.search__input {
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search__value-container {
    padding: initial !important;
    position: initial !important;
}

.search__menu {
    border-radius: 0 0 20px 20px !important;
    overflow: hidden !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    z-index: 1 !important;
    border: solid $dark_grey 10px !important;
    border-top: initial !important;
    top: calc(100% - 3px) !important;
}

.search__menu-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.search__indicator-separator {
    display: none;
}

.search__indicators {
    margin-left: 10px;
    min-width: 64px;
    height: 100%;
    justify-content: center;
}

@media (max-width: $screen_m) {
    .search__option {
        height: 48px !important;
    }

    .search__option--is-focused {
        background-color: initial !important;
    }

    .search__option--is-disabled {
        height: initial !important;
        padding: 0 8px !important;
    }

    .search__input {
        font-size: 18px;
    }

    .search__menu {
        padding-bottom: 4px;
        
        .search__menu-list {
            padding-top: initial;
            padding-bottom: initial;
            overflow-x: hidden;
            max-height: 50vh !important;
        }
    }

    .search__control {
        background-color: initial !important;

        .search__value-container {
            .search__placeholder {
                display: none;
            }
        }

        .search__indicators {
            justify-content: center;
            min-width: 48px;
            order: -1;
        }
    }

    .search__control--menu-is-open {
        padding-top: 40px;

        .search__value-container {
            display: initial;
            margin-left: 48px !important;
        }

        .search__control {
            box-shadow: initial !important;
        }
    }
}

@media (max-width: $screen_s) {
    .search__control--menu-is-open {
        padding-top: 60px;
    }
}
