@import '../../styles/constants.scss';

.listContainer {
    color: #000;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 8px;
}

@media (max-width: $screen_l) {
    .listContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        grid-gap: initial;
    }
}

@media (max-width: $screen_xs) {
    .listContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 20px;
    }
}
