@import '../../styles/constants.scss';

.listContainer {
    color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 10px 10px;
}

.listContainer + .listContainer {
    margin-top: 8px;
}

@media (max-width: $screen_m) {
    .listContainer {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20px 20px;
    }
}

@media (max-width: $screen_s) {
    .listContainer {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 20px 20px;
    }
}
