@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: '. profile .';
}

svg:hover {
    cursor: pointer;
}

.editWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.iconWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.settings:hover path {
    fill: #c2c2c2;
}

.profileContainer {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImage {
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.defaultProfileImage {
    position: relative;
    width: 150px !important;
    height: 150px !important;
    font-size: 4em !important;
    border: solid $dark_grey 10px !important;
    line-height: 130px !important;
}

.editPhoto {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(5, 5, 5, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.editPhoto:hover {
    cursor: pointer;
}

.editPhoto:hover {
    cursor: pointer;
}

.nameContainer {
    grid-area: name;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioLabel {
    width: 100% !important;
    text-align: center;
}

.headDataContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    margin-top: 1em;
}

.headContainer {
    width: 50%;
    max-height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.iconContainer {
    width: 12%;
}

.toolbarArea {
    grid-area: toolbar;
    background-color: #e2e2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 11fr 1fr;
    grid-template-areas: '. settings';
}

.toolbarHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    align-self: center;
}

.nameLabel {
    width: 100% !important;
    font-weight: 600 !important;
    text-align: center;
}

.webIdLabel {
    margin: 1em;
    color: #454545;
    text-align: center;
    text-decoration: none;
}

.icon {
    cursor: pointer;
}

.icon:hover path {
    fill: #c2c2c2;
}

.iconWhite {
    path {
        fill: #ffffff;
    }
    margin-right: 10px;
}

.multiline {
    @include multiLineEllipsis(
        $lineHeight: 1.2em,
        $lineCount: 2,
        $bgColor: white
    );
}

.addButton:hover {
    background-color: $dark_green;
}

.addButton {
    border: solid $light_green 5px;
    color: #fff;
    width: 100%;
    background-color: $light_green;
}

.addButton svg path {
    fill: white;
}

.removeButton {
    background-color: #ffffff !important;
    color: #aaaaaa;
    border: 5px solid #c4c4c4 !important;
    width: 100%;
}

.removeButton:hover {
    cursor: pointer;
}

@media (max-width: $screen_m) {
    .grid {
        grid-template-areas: 'profile profile profile';
        grid-template-rows: 1fr;
        width: 100%;
    }

    .profileContainer {
        margin-top: 26px;
    }

    .headContainer {
        width: calc(100% - 16px);
    }

    .nameLabel {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        line-height: initial;
    }

    .webIdLabel {
        width: 100%;
        margin: 1em 0;
    }

    .bioLabel {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .multiline {
        padding-right: 0px;
        margin-right: 0px;
    }

    .profileImage {
        margin-right: 0px;
    }
}
