@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';
.grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

svg:hover {
    cursor: pointer;
}

.editWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.iconWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.settings:hover path {
    fill: #c2c2c2;
}

.profileContainer {
    justify-self: center;
    width: 100%;
    height: max-content;
    padding: 32px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.edit {
    flex-flow: column;

    .infoContainer {
        width: 40%;
    }

    .headContainer {
        width: 40%;
    }
}

.infoContainer {
    flex: 1 1 50%;
    margin-bottom: 2em;
}

.contactsContainer {
    flex: 1 1 100%;
}

.contactsContainer.loading {
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLabel {
    font-weight: 600 !important;
    font-size: 2em;
    margin: 1em 0;
}

.sectionLabel:nth-of-type(1) {
    margin-top: initial;
    margin-bottom: 1em;
}

.showMoreLabel {
    color: #2791ff;
}

.showMoreIcon {
    font-size: 32px;
    height: 20px;
    margin-top: -20px;
    color: #2791ff;
    text-align: center;
}

.showMoreWrapper {
    width: 100%;
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profileImage {
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.defaultProfileImage {
    position: relative;
    width: 150px !important;
    height: 150px !important;
    font-size: 4em !important;
    border: solid $dark_grey 10px !important;
    line-height: 130px !important;
}

.editPhoto {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(5, 5, 5, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.editPhoto:hover {
    cursor: pointer;
}

.editPhoto:hover {
    cursor: pointer;
}

.nameContainer {
    grid-area: name;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioLabel {
    width: 100% !important;
    text-align: center;
}

.headDataContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    align-items: center;
    margin-top: 1em;
}

.headContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    margin-bottom: 2em;
}

.iconContainer {
    width: 12%;
}

.toolbarArea {
    grid-area: toolbar;
    background-color: #e2e2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 11fr 1fr;
    grid-template-areas: '. settings';
}

.toolbarHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    align-self: center;
}

.nameLabel {
    width: 100% !important;
    font-weight: 600 !important;
    text-align: center;
}

.webIdLabel {
    margin: 1em;
    color: #454545;
    text-align: center;
    text-decoration: none;
}

.icon {
    cursor: pointer;
}

.icon:hover path {
    fill: #c2c2c2;
}

.iconWhite {
    path {
        fill: #ffffff;
    }
    margin-right: 10px;
}

.multiline {
    @include multiLineEllipsis(
        $lineHeight: 1.2em,
        $lineCount: 2,
        $bgColor: white
    );
}

.addButton {
    border: solid $light_green 5px;
    color: #fff;
    max-width: 280px;
    width: 100%;
    background-color: $light_green;
}

.addButton svg path {
    fill: white;
}

.removeButton {
    background-color: #ffffff !important;
    color: #aaaaaa;
    border: 5px solid #c4c4c4 !important;
    max-width: 280px;
    width: 100%;
}

@media (min-width: $screen_l) {
    .addButton:hover {
        background-color: $dark_green;
    }

    .removeButton:hover {
        cursor: pointer;
    }
}

@media (min-height: 1000px) {
    .grid {
        align-items: center;
    }
}

@media (max-width: $screen_l) {
    .grid {
        grid-template-areas: 'profile profile profile';
        grid-template-rows: 1fr;
        width: 100%;
        --webkit-overflow-scrolling: touch;
        height: calc(100vh - 70px);
        border-radius: initial;
        overflow-y: auto;
    }

    .profileContainer {
        width: 100%;
        justify-content: flex-start;
        margin-top: 1em;
        padding-bottom: 4em;
    }

    .headContainer {
        width: calc(100% - 64px);
        flex: 1 1 100%;
    }

    .infoContainer {
      flex: 1 1 100%;
    }

    .nameLabel {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        line-height: initial;
    }

    .webIdLabel {
        width: 100%;
        margin: 1em 0;
    }

    .bioLabel {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }

    .multiline {
        padding-right: 0px;
        margin-right: 0px;
    }

    .profileImage {
        margin-right: 0px;
    }
}
