.appList {
    grid-area: applist;
}

.grid {
    display: grid;
    grid-template-areas: 'applist applist applist';
    padding: 16px;
}

.windowButtonContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.button {
    margin-left: 5px;
}

.dangerText {
    font-size: 14px;
    color: red;
}
