.grid {
    padding: 0 16px;
}

.windowButtonContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    bottom: 1em;
}

.button {
    margin-left: 5px;
}

.dangerText {
    font-size: 14px;
    color: red;
}
