@import '../../styles/constants.scss';

.container {
    cursor: pointer;
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridCell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 8px 0;
    width: 100%;
    border: solid transparent 4px;
    box-sizing: border-box;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 300ms;
}

.selected {
    border: solid 4px $light_blue;
    transition-property: border;
    transition-duration: 300ms;
}

.selected.gridCell:hover {
    background-color: initial;
}

.innerContainer {
    width: 100%;
}

.labelContainer {
    width: 100%;
}

.label {
    z-index: 1;
    font-size: 16px;
    line-height: 21px;
    padding: 4px 0;
    color: #000000;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.contextMenu {
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    z-index: 2;
    width: 130px;
    padding: 0 !important;
}

.contextItem div {
    color: #000000;
}

.contextItem:hover div {
    background-color: #f2f2f2 !important;
}

.disabled div {
    color: #8c8c8c;
    cursor: default;
}

.itemLabel {
    z-index: 3;
}

@media (min-width: $screen_l) {
    .label:hover {
        background: #ffffff;
        border-radius: 10px;
        padding: 0 4px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-overflow: initial;
        width: min-content;
        box-sizing: border-box;
        border: solid $light_grey 4px;
        z-index: 3;
    }

    // .gridCell:first-child {
    //     .label:hover {
    //         min-width: 100px;
    //         top: 1px;
    //         left: 0;
    //         transform: initial;
    //     }
    // }

    // .gridCell:nth-child(9) {
    //     .label:hover {
    //         min-width: 100px;
    //         top: 1px;
    //         right: 8px;
    //         left: initial;
    //         transform: initial;
    //     }
    // }

    .gridCell:hover {
        background-color: $light_grey;
    }
}

@media (max-width: $screen_l) {
    .gridCell {
        height: 128px;
        width: 100px;
        justify-self: center;
    }

    .labelContainer {
        margin-top: 8px;
    }

    .label {
        position: initial;
        width: 100%;
        transform: initial;
        padding: initial;
    }

    .container {
        width: 100px;
    }

    .innerContainer {
        display: flex;
        justify-content: center;
        position: initial;
    }

    .icon {
        width: 80px;
        height: 60px;
    }
}

@media (max-width: $screen_xs) {
    .gridCell {
        width: 100px;
    }
}
