.prompt {
    margin-bottom: 8px;
}

.description {
    color: #666;
    font-size: 0.8rem;
}

.warning {
    color: #f00;
}

.button {
    cursor: pointer;
    margin-left: 5px;
}

.disabled:hover {
    transform: initial;
}

.buttonBar {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input {
    width: 100%;
}

.confirm {
    background: linear-gradient(to top, #0c89c6, rgba(0, 171, 255, 0.5));
    color: white;
    font-weight: 300;
    border-radius: 20px;
}
