@import '../../styles/constants.scss';

.prompt {
    margin-bottom: 8px;
}

.description {
    color: #666;
}

.warning {
    color: #f00;
}

.button {
    cursor: pointer;
    margin-left: 8px;
}

.disabled:hover {
    transform: initial;
}

.buttonBar {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input {
    width: 100%;
    box-sizing: border-box;
    font: $large-text;
    text-overflow: ellipsis;
    border: initial;
    border-radius: initial;
    border-bottom: 4px solid black;
    outline: none;
}

@media (max-width: $screen_l) {
    .window {
        display: flex;
        flex-direction: column;
    }

    .buttonBar {
      position: absolute;
      bottom: 80px;
      left: 0;
      padding: 16px;
      width: calc(100% - 32px);
    }
}
