@import '../../../styles/constants.scss';

.container {
    display: flex;
    background: $dark_green;
    border-radius: 12px;
    padding: 5px 28px;
    height: 35px;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    letter-spacing: 0.05em;
}
