@import '../../styles/constants.scss';

.container {
    display: flex;
}

.optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.optionDescription {
    font: $large-text;
}

.label {
    font-weight: 600;
    font-size: 2em;
    margin-top: auto;
}

.input {
    box-sizing: border-box;
    font: $large-text;
    border: initial;
    outline: none;
    resize: none;
    width: 50%;
    border-radius: 20px;
    background: $light-grey;
    padding: 8px 16px;
}

.input:focus {
    border: solid 4px $light-black;
    background: #fff;
    padding: 4px 12px;
}

@media (max-width: $screen_l) {
    .inputContainer {
        align-items: flex-start;
        flex-direction: column;

        .input {
            margin-top: 8px;
            width: 100%;
        }
    }
}
