@import '../../styles/constants.scss';

.container {
    display: flex;
    marginBottom: 16px;
}

.optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.optionDescription {
    font: $large-text;
}

.label {
    font-weight: 600;
    font-size: 2em;
    margin-top: auto;
}

.input {
    box-sizing: border-box;
    font: $large-text;
    border: initial;
    outline: none;
    resize: none;
    width: 50%;
    border-radius: 20px;
    background: $light-grey;
    padding: 8px 16px;
}

.input:focus {
    border: solid 4px $light-black;
    background: #fff;
    padding: 4px 12px;
}

@media (max-width: $screen_l) {
    .label {
        width: 100%;
        font: $extra-large-title-text;
        margin-bottom: 16px;
    }

    .optionDescription {
        font: $medium-text;
    }

    .inputContainer {
        flex-direction: column;
        align-items: flex-start;

        .optionDescription {
            margin-bottom: 8px;
        }
    }

    .input {
        font: $medium-text;
        width: 100%;
    }
}
