@import '../../styles/constants.scss';

.editButtons {
    display: flex;
    width: 100%;
}

.actionButton {
    flex: 1;
}

.actionButton + .actionButton {
    margin-left: 4px;
}

.iconWhite {
    path {
        fill: #ffffff;
    }
    margin-right: 10px;
}
