@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: '. profile .';
}

svg:hover {
    cursor: pointer;
}

.editButtons {
    display: flex;
    flex-direction: column;
}

.editButtons {
    display: flex;
    flex-direction: column;
}

.iconWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.settings:hover path {
    fill: #c2c2c2;
}

.profileContainer {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 65px 0;
}

.profileImage {
    grid-area: profileImg;
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 1em;
}

.editPhoto {
    grid-area: profileImg;
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(5, 5, 5, 0.5);
    border-radius: 50%;
    z-index: 1;
}

.editPhoto:hover {
    cursor: pointer;
}

.editPhoto:hover {
    cursor: pointer;
}

.nameContainer {
    grid-area: name;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bioLabel {
    letter-spacing: 0.2em;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 21px;
    width: 100% !important;
}

.headDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.headContainer {
    width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    padding-right: 1em;
}

.iconContainer {
    width: 12%;
}

.toolbarArea {
    grid-area: toolbar;
    background-color: #e2e2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 11fr 1fr;
    grid-template-areas: '. settings';
}

.toolbarHeader {
    letter-spacing: 0.05em;
    font-size: 18px;
    position: absolute;
    width: 100%;
    text-align: center;
    align-self: center;
}

.nameLabel {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    width: 100% !important;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    letter-spacing: 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
}

.webIdLabel {
    margin-top: 10px;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: #454545;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.valueLabel {
    letter-spacing: 0.2em;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.editWrapper {
    position: absolute;
    top: 0;
    right: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    cursor: pointer;
}

.icon:hover path {
    fill: #c2c2c2;
}

.iconWhite {
    path {
        fill: #ffffff;
    }
    margin-right: 10px;
}

.multiline {
    @include multiLineEllipsis(
        $lineHeight: 1.2em,
        $lineCount: 2,
        $bgColor: white
    );
}

.actionButton {
    margin: 0 4px;
}

@media (max-width: $screen_m) {
    .headDataContainer {
        width: 80%;
        align-items: center;
    }
    .headContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-right: 0px;
    }

    .grid {
        grid-template-areas: 'profile profile profile';
        grid-template-rows: 1fr;
    }

    .profileContainer {
        margin-top: 26px;
    }

    .nameLabel {
        margin-top: 10px;
        width: 100%;
        font-size: 16px;
        text-align: center;
        line-height: initial;
    }

    .webIdLabel {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
        margin-bottom: 3px;
    }

    .bioLabel {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
    }

    .editButtons {
        flex-direction: row;
    }

    .editWrapper {
        margin-top: 18px;
        position: relative;
        top: initial;
        right: initial;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .multiline {
        padding-right: 0px;
        margin-right: 0px;
    }

    .profileImage {
        margin-right: 0px;
    }
}
