@import '../../styles/constants.scss';

.container {
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.keyValueContainer {
    display: flex;
    flex-direction: column;
}

.containerFooter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: none;
}

.keyLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    margin-bottom: 8px;
}

.addLabel {
    font-style: normal;
    font-size: 18px;
}

.value {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1.2em;
    border: initial;
    outline: none;
    resize: none;
    width: 100%;
}

.value + .value {
    margin-top: 1em;
}

.value.active + .value.active {
    margin-top: 1em;
}

.value.active::placeholder {
    /* text-decoration: underline;
    text-decoration-color: #6db7db; */
}

.value.active {
    border-radius: initial;
    border-bottom: 4px solid $dark_black;
    margin-bottom: initial;
    /* text-decoration: underline; */
}

.value.focus::placeholder {
    color: transparent;
}

.value.active:focus {
    outline: initial;
    /* text-decoration-color: #6db7db; */
}

.multiple {
    margin-bottom: 10px;
}

.multiple:last-child {
    margin-bottom: 0;
}

.valueContainer {
    width: 100%;
}

@media (max-width: $screen_l) {
    .keyLabel {
        width: calc(70px + 1em);
        font-size: 16px;
    }

    .value.active + .value.active {
        margin-top: 1em;
    }
}

@media (max-width: $screen_m) {
    .container {
        width: 100%;
    }
}
