@import '../../styles/constants.scss';

.container {
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.keyValueContainer {
    display: flex;
    flex-direction: column;
}

.valueWrapper {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.valueWrapper:last-child {
    margin-bottom: 0;
}

.deleteIcon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.containerFooter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: none;
}

.multiValueContainer {
    display: flex;
    flex-direction: column;
}

.keyLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    width: calc(150px + 1em);
    margin-bottom: 8px;
}

.addLabel {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.value {
    width: 100%;
    font-style: normal;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 18px;
    border: initial;
    margin-bottom: 2px;
    outline: none;
    resize: none;
}

.value + .value {
    margin-top: 1em;
}

.value.active::placeholder {
    /* text-decoration: underline;
    text-decoration-color: #6db7db; */
}

.value.active {
    border-radius: initial;
    border-bottom: 2px solid black;
    margin-bottom: initial;
    /* text-decoration: underline; */
}

.value.focus::placeholder {
    color: transparent;
}

.value.active:focus {
    outline: initial;
    border-color: #6db7db;
    caret-color: #6db7db;
    /* text-decoration-color: #6db7db; */
}

.multiple {
    margin-bottom: 10px;
}

.multiple:last-child {
    margin-bottom: 0;
}

.valueContainer {
    width: 100%;
}

@media (max-width: $screen_m) {
    .container {
        width: 80%;
    }

    .keyLabel {
        width: calc(70px + 1em);
        font-size: 16px;
    }

    .value {
        font-size: 16px;
    }
}
