@import '../../styles/constants.scss';

.search {
}

.entities {
    max-height: calc(50vh - 50px - 72px - 72px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
}

@media (max-width: $screen_m) {
    .body {
        overflow-y: auto;
    }

    .selectedFiles {
        max-height: calc(60vh - 50px - 72px - 92px);
    }

    .window {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
    }
}
