.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid #c4c4c4 1px;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.form h1 {
    text-align: left;
}

.form label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid #c4c4c4 1px;
    border-radius: 5px;
    padding: 10px;
}

.form label input {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 5px;
}

.form label p {
    color: #949494;
    font-size: 0.8rem;
}
