@import '../../styles/constants.scss';

.breadcrumb {
    color: $light-blue;
    cursor: pointer;
    font-style: normal;
    font: $medium-text;
}

.seperator {
    margin: 0 10px 0 10px;
    font-style: normal;
    font: $medium-text;
}

.container {
    display: flex;
}
