.breadcrumb {
    color: #5c94ff;
    cursor: pointer;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.seperator {
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.container {
    display: flex;
}
