.breadcrumb {
    color: #5c94ff;
    cursor: pointer;
    letter-spacing: 0.05em;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.seperator {
    margin: 0 10px 0 10px;
    letter-spacing: 0.05em;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.container {
    display: flex;
}
