@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light'),
        url('./assets/fonts/HelveticaNeueLight.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
        'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
div {
    font-family: 'Helvetica Neue Light';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#dropdown {
    width: 10px;
}

body,
html,
#root {
    height: 100%;
}

#root {
    background-color: #f4f4f4;
}
