@import '../../styles/constants.scss';

.container {
    bottom: calc(2em);
    left: calc(10% + 1em);
    position: absolute;
    padding: 0.2em 2em;
    background: $standard_blue;
    border: solid $standard_blue 4px;
    color: #fff;
    border-radius: 20px;
    z-index: 3;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: $screen_m) {
    .container {
        bottom: 1em;
        left: 1em;
    }
}
