// breakpoints, color values, font sizes, margins

//src https://www.mediaevent.de/css/breakpoints.html
//breakpoints min width
$screen-xs: 0px;
$screen-s: 567px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;

$light-grey: #f4f4f4;
$dark-grey: #e2e2e6;
$light-blue: #6db7db;
$danger-red: #bd0000;
$dark-green: #36a510;
