// breakpoints, color values, font sizes, margins

//src https://www.mediaevent.de/css/breakpoints.html
//breakpoints min width
$screen_xs: 0px;
$screen_s: 567px;
$screen_m: 768px;
$screen_l: 992px;
$screen_xl: 1200px;

$light_grey: #f4f4f4;
$dark_grey: #e2e2e6;
$light_blue: #6db7db;
$danger_red: #bd0000;
$dark_green: #36a510;
