@import '../../../styles/constants.scss';

.hide {
    display: none;
}

.head {
    height: initial !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.dropdownWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    width: 30px;
}

.container {
    position: absolute;
    top: 7px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.active {
    background: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.icon {
    cursor: pointer;
}

.dropdownContent {
    position: relative;
}

.option {
    padding: 5px 15px;
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;

    cursor: pointer;
}

.option:last-child {
    color: red;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #c4c4c4;
}

.option:hover {
    background-color: #f2f2f2;
}

@media (max-width: $screen_m) {
    .container {
        top: 0px;
        position: initial;
    }

    .dropdownContent {
        display: none;
    }

    .active {
        background: initial;
        box-shadow: initial;
        border-radius: initial;
    }

    .iconWrapper {
        display: none;
    }

    .head {
        display: initial;
        margin-top: initial;
        padding: initial;
        justify-content: center;
        height: initial !important;
    }

    .dropdownWrapper {
        width: initial;
        position: initial;
    }
}
