@import '../../styles/constants.scss';

.hide {
    display: none;
}

.head {
    height: initial !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: pointer;
}

.dropdownWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    width: 30px;
}

.container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: calc(100% - 20px);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.active {
    padding: initial;
    background: #ffffff;
    border: solid $light_black 5px;
    border-radius: 20px;
    height: initial;
    top: 7px;
}

.icon {
    cursor: pointer;
}

.dropdownContent {
    position: relative;
}

.option {
    padding: 5px 15px;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;

    cursor: pointer;
}

.option:last-child {
    color: red;
    padding-bottom: 5px;
}

.option:hover {
    background-color: $light_blue;
}

.option:hover:last-child {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

@media (max-width: $screen_m) {
    .container {
        top: 0px;
        position: initial;
        padding: initial;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    .iconWrapper {
        display: none;
    }

    .head {
        display: initial;
        margin-top: initial;
        padding: initial;
        justify-content: center;
        height: initial !important;
    }

    .dropdownWrapper {
        width: 100%;
        position: initial;
    }
}
